Ejercicios/dtd_externa/ejercicio-ii-2b-dtd.dtd

<!ELEMENT fichero (ficha+)>
		<!ELEMENT ficha (nombre, apellido, apellido, direccion*, DUI)>
    <!ATTLIST ficha id  ID  #REQUIRED>
    <!ATTLIST ficha nombre CDATA #IMPLIED>
		<!ELEMENT nombre (#PCDATA)>
		<!ATTLIST nombre sexo (masculino|femenino) #REQUIRED>
            	<!ATTLIST nombre edad  CDATA  #IMPLIED>
		<!ELEMENT apellido (#PCDATA) >
		<!ELEMENT direccion (#PCDATA)>
		<!ELEMENT DUI (#PCDATA) >